<appSettings>
  <add key="UpdateUrl" value="http://www.playnite.link/update/{0}/info.json" />
  <add key="UpdateUrl2" value="http://api.playnite.link/update/{0}/info.json" />
  <add key="ServicesUrl" value="http://api.playnite.link/api" />
  <add key="UpdateBranch" value="stable" />
  <add key="ThrowAllErrors" value="False" />
  <add key="OfflineMode" value="False" />
  <add key="PipeEndpoint" value="net.pipe://localhost/PlaynitePipe" />
</appSettings>